#Airflow
AIRFLOW_UID=

#AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=

#Shared
MLFLOW_TRACKING_URI=

#Workflow
#1
TRAIN_PATH=
DATA_PATH=
#2
REF_PATH=
REPORT_PATH=
#3
MODEL_NAME=
REGISTERED_MODEL_NAME=
EPOCHS=
BATCH_SIZE=
LEARNING_RATE=
MAX_LEN=
WEIGHT_DECAY=
EXPERIMENT_NAME=
OUTPUT_PATH=
#4
TEST_PATH=
REFERENCE_PATH=


#Deployment
ROLE_ARN=
MLFLOW_IMAGE_URI=
REGION_NAME=
INSTANCE_TYPE=
ENDPOINT_NAME=
MODEL_URI=
